# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env

# macOS / Windows hidden files
.DS_Store
Thumbs.db

# PyCharm / VSCode
.idea/
.vscode/

# Optional: test / output files
*.sqlite3
